


<h1>Spot Prices</h1>


<table>
    @foreach (var priceHistory in Model)
    {
        <tr>
            <td>@priceHistory.InstanceType</td>
            <td>@priceHistory.AvailabilityZone</td>
            <td>@priceHistory.ProductDescription</td>
            <td>@priceHistory.Timestamp</td>
            <td>@priceHistory.Price</td>
        </tr>
    }
</table>